.about {
    background-color: rgb(201, 201, 201)
}
.about-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.about-header {
    color: #fff;
    position: relative;
    justify-self: center;
    border-bottom: 0.15rem solid #fff;
}

.about img{
    width: 280px;
    height: 280px;
    border: solid rgb(105, 105, 105) 3px;
    box-shadow: 15px 15px 15px rgb(65, 65, 65);
}
.about-image{
    display: flex;
    background-color: #fff;
    padding: 2.5rem;
    border-radius: 15px;
    margin-top: 2rem;
}
.about-image-2{
    display: flex;
    background-color: #fff;
    padding: 2.5rem;
    border-radius: 15px;
    margin-top: 2rem;
}
.about-text {
    color: rgb(65, 65, 65);
}

.about .footer-container {
    display: flex;
    justify-content: left;
    flex-direction: row;
    align-items: center;
    background-color: rgba(65, 65, 65, 0.9);
    padding: 4rem 2rem 4rem 2rem;
    margin-top: 10rem;
    width: 100%;
    height: fit-content;
}
.about .footer-container h1{
    color: #fff;
    border-bottom: 0.15rem solid #fff;
}

.about .footer-contents-contact h1{
    border-bottom: 0.15rem solid white;
    line-height: 3rem;
}

.about .footer-contents-contact pre{
    color: #fff;
    margin-bottom: 6.5rem;
}
@media screen and (max-width: 992px){    
.about-image img, .about-image-2 img{
    width: 240px;
    height: 240px;
}
}
@media screen and (max-width: 520px){
 .footer-contents-contact {
    margin-left: 2rem;
    font-size: 0.67rem;
    margin-bottom: 40px;
}}

@media screen and (max-width: 520px){
.copyright-jargin{
font-size: 0.7rem;
padding-left: 0.5rem;
}
}
