/* Main */

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,100;1,300;1,400;1,500&display=swap');

* {
    font-family: "Roboto";
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(65, 65, 65, 0.75);
    padding: 0px 25px;
    transition: 0.3s;
}

.title a {
    font-size: 36px;
    color: #fff;
    text-decoration: none;
    font-weight: lighter;
}

.home {
    background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30 , 0.7)),
    url(https://cdn.artfunnels.com/5258bca0-9b5a-4c3c-b8af-84fadb4ff22c/);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}  

.header-container {
    display: flex;
    margin: 30vh 20vw;
    flex-direction: row;
}

.header-container > .flex-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: solid rgb(50, 50, 50);
    border-radius: 15px;
    padding: 20px;
    font-size: 20px;
    justify-items: center;

}

.header-container > .flex-title {
    color: rgba(255, 255, 255, 0.9);
    margin: auto;
    padding: 20px;
    font-size: 30px;
}

.footer-container{
    background-color: rgba(65, 65, 65, 0.9);
    padding: 4rem 2rem 4rem 2rem;
    margin: 0 auto;
    width: 100%;
    height: fit-content;
    display: flex;
    align-items: center;
    border-top: solid rgb(35, 35, 35);
}
/* Scrollbar */
::-webkit-scrollbar {
    display: none;
}
.scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}
/* /Main */


/* Background image cycle */


/* Guestbook */

.guest {
    padding: 3px;
    margin: 0%, 20%;   
    text-align: center;
    color: #fff;
}

.controls {
    padding:5px, 10px, 5px, 10px;
}
input[type="submit"] {
    color: #fff;
    background-color : rgb(65, 65, 65);
    border: solid #fff 1px;
}
input[type="text"], textarea {
    background-color : rgb(65, 65, 65);
    border: solid #fff 1px;
}
.footer-container-guestbook {
    background-color: rgba(65, 65, 65, 0.9);
    padding: 4rem 2rem 4rem 2rem;
    margin: 50rem 0 0 0;
    width: 100%;
    height: fit-content;
    display: flex;
    align-items: center;
    border-top: solid rgb(35, 35, 35);
}
/* /Guestbook */



/* Navigation */


/*.logo a {
  display: block;
}
.logo a img {
  display: block;
  width: 100%;
}*/
/*use for when we have a logo or smthg*/

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
  } 

.menu {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    z-index: 1;
    transition: 0.5s;
}

.menu li {
    list-style-type: none;
}

.menu li a {
    color: #fff;
    text-decoration: none;
    display: block;
    padding: 25px 25px;
    font-size: 18px;
    line-height: 1;
    transition: 0.3s;
 }

.menu li a:hover {
    box-shadow: 0 -5px 0px #fff inset, 500px 0 0 rgba(255, 255, 255, 0.03) inset;
    padding: 25px 25px 25px 25px;
}
  
.hamburger {
    position: relative;
    width: 30px;
    height: 4px;
    background: #fff;
    border-radius: 10px;
    cursor: pointer;
    z-index: 2;
    transition: 0.3s;
}
  
.hamburger::before,
.hamburger::after {
    content: "";
    position: absolute;
    height: 4px;
    right: 0;
    background: #fff;
    border-radius: 10px;
    transition: 0.3s;
}
  
.hamburger::before {
    top: -10px;
    width: 30px;
}

.hamburger::after {
    top: 10px;
    width: 30px;
}

.menu-toggle {
    position: absolute;
    width: 30px;
    height: 100%;
    z-index: 3;
    cursor: pointer;
    opacity: 0;
}

.hamburger,
.menu-toggle { 
    display: none;
}

.navigation input:checked ~ .hamburger {
    background: transparent;
}

.navigation input:checked ~ .hamburger::before {
    top: 0;
    transform: rotate(-45deg);
    width: 30px;
}

.navigation input:checked ~ .hamburger:after {
    top: 0;
    transform: rotate(45deg);
    width: 30px;
}

.navigation input:checked ~ .menu {
    right: 0;
    box-shadow: -20px 0 40px rgba(0,0,0,0.3);
}

/* /Navigation */



/* Image display */

.container {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 6rem 2rem 30rem 2rem;
    margin: 0 auto;
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
}
img {
    width: 15rem;
    height: 15rem;
    border: solid rgba(65, 65, 65, 0.75);
    box-shadow: 15px 15px 15px rgb(65, 65, 65);
}
.images {
    display: flex;
    flex-direction: row;
    justify-items: center;
    gap: 4.5rem;
   
}

.images a {
    border: rgb(65, 65, 65);
    color: rgb(255, 255, 255);
    text-decoration: none;
    display: block;
    transition: 0.5s;
}
.images a:hover {
    transform: scale(1.25);
    transition: 0.5s;
}
.the-text {
    align-self: center;
    position: absolute;
    color: #fff;
    opacity: 0;
    width: 300px;
    height: 0vh;
    margin-top: 25px;
    margin-left: -30px;
}

.images a:hover ~ .the-text {
    height: 45%;
    opacity: 100;
    box-shadow: 15px 15px 15px rgb(65, 65, 65);
    background-color: rgba(65, 65, 65, 0.75);
    border-radius: 0 0 15px 15px;
    transition: 2.25s;
    z-index: 0;
}

/* /Image slideshow */


/* Phone Mode */

@media screen and (max-width: 1000px) {  
    .hamburger,
    .menu-toggle {
      display: block;
    }

    .header {
      padding: 10px 20px;
    }

    .menu {
      justify-content: start;
      flex-direction: column;
      align-items: center;
      position: fixed;
      top: 0;
      right: -300px;
      background: rgb(65, 65, 65, 0.75);
      width: 300px;
      height: 100%;
      padding-top: 65px;
    }

    .menu li {
      width: 100%;
    }

    .menu li a 
    .menu li a:hover {
      padding: 30px;
      font-size: 24px;
      box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1) inset;
    }

    .header-container {
        margin:  25vh auto;
        flex-direction: column;
    }

    .images {
        flex-direction: column;
    }

    .images a:hover ~ .the-text {
        height: 45%;
        opacity: 100;
        background-color: rgba(65, 65, 65, 0.75);
        border-radius: 0 0 15px 15px;
        z-index: 0;  
    }

  }




















































